* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ---------------------- Header ------------------------*/

.topo {
    display: flex;
    max-width: 1024px;
    padding: 35px 0px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-size: 18px;
}

.info {
    display: flex;
    gap: 20px;
}

.info a {
    text-decoration: none;
    color: #000;
}

.topo img {
    width: 80px;
    left: -15px;
    top: 38px;
}

.logo {
    display: flex;
    gap: 15px;
    color: #000;
}

.logo p {
    color: #2f86d6;
}

/* ---------------------- Banner ------------------------*/

.banner img {
    width: 50%;
}

.banner {
    display: flex;
    max-width: 1024px;
    margin: auto;
    padding: 180px 0px;
    justify-content: center;
    align-items: center;
}

.banner-container {
    background-color: #2f86d6;
    color: #fff;
}

.banner div {
    display: flex;
    flex-direction: column;
    max-width: 470px;
    gap: 20px;
    font-size: 20px;    
}

/* ---------------------- Anúncios ------------------------*/

.primeiro-anuncio, .segundo-anuncio {
    display: flex;
    max-width: 1024px;
    margin: auto;
    padding: 40px 0px;
    justify-content: space-between;
    align-items: center;
}

.anuncio1 {
    background-color: #233032;
    color: #fff;
}

.anuncio2 {
    background-color: #2f86d6;
    color: #fff;
}

.primeiro-anuncio .text, .segundo-anuncio .text{
    max-width: 600px;
}

.primeiro-anuncio .price {
    background-color: #2f86d6;
    color: #fff;
    padding: 20px;
    display: flex;
    gap: 10px;
    border-radius: 4px;
}

.segundo-anuncio .price{
    background-color: #233032;
    color: #fff;
    padding: 20px;
    display: flex;
    gap: 10px;
    border-radius: 4px;
}

.primeiro-anuncio img, .segundo-anuncio img {
    width: 25px;
}

.primeiro-anuncio a, .segundo-anuncio a{
    text-decoration: none;
    color: #fff;
}

/* ---------------------- Informações ------------------------*/

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0px;
    gap: 100px;
}

.text-container {
    max-width: 900px;
    font-size: 20px;
    text-align: center;
}

.text-container span{
    color: #2f86d6;
}

.img-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1024px;
    font-size: 15px;
    text-align: center;
}

.img-container div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 33%;
}

.img-container img {
    width: 100px;
}

/* ---------------------- Planos ------------------------*/

.plans {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    padding: 100px 0px;
    margin: auto;
    gap: 100px;
}

.plans span {
    color: #2f86d6;
}

.plans h2 {
    font-size: 30px;
}

.planos-container {
    background-color: #f6f6f6;
}

.plans img {
    width: 100px;
}

table {
    border: 1px solid #000;
    align-items: center;
}

/* ---------------------- Rodape ------------------------*/

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    justify-content: space-between;
    gap: 50px;
}

.rodape img {
    width: 75px;
}

.footer-logo {
    display: flex;
    max-width: 320px;
    gap: 10px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}

.footer {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    font-size: 18px;
    background-color: #f6f6f6;
}

.footer span {
    color: #2f86d6;
}